div{
}
body{
 font-family: "Microsoft Yahei","SimHei",sans-serif;
}
textarea{
resize: none;
}
textbox{
margin-left:20px;
}
table {
    table-layout: fixed;
    word-wrap: break-word;
}
.title{
margin-top: 100px;
color: #000000;
line-height: 55;
box-shadow:-5px 0px black;
}
.message{
margin-top:20px;
}
.new-message-title{
box-shadow:-5px 0px black;
}
.new-message-form{
margin-left:10px;
}
.pagenavi{
margin-top:-30px;
}