<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
This is the Homepage of the Message Board.
<br>
<br>
Here are ALL the Messages in Database:
<br>
<table border="1">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Time</th>
        <th>Message</th>
        <th>Function</th>
    </tr>
    {% for record in msgs %}
    <tr>
        <td>{{ record.name }}</td>
        <td>{{ record.mail }}</td>
        <td>{{ record.time }}</td>
        <td>{{ record.message }}</td>
        {% if manage == True %}
        <td>
            <form action="/delPost" method="POST">
            <input type="hidden" value="{{ record.msgid }}" name="id">
            <input type="submit" value="DELETE this Message">
            </form>
        </td>
        {% else %}
        <td>Please Login</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<br>
<br>
<br>
You Can Leave NEW Message Here:
<br>
<form action="/newPost" method="POST">
    {{ form.render() }}
</form>
<br>
<br>
<br>
Or, You can goto Login Page & DELETE messages.
<br>
<form action="/logIn" method="GET">
    {{ loginbutton.render() }}
</form>
</body>
</html>
